<div class="snippet container">
	<header class="g-wide--full g-medium--full">
		<p class="medium">
			<a href="{{site.urlRoot}}{{post.url}}">{{post.title}}</a>
		</p>
	</header>
	
	<p class="g-wide--full g-medium--full">
		<span class="g--third">
		{% if post.image %}
		<img src="/images/projects/{{post.image}}" alt="{{post.image_caption}}" title="{{post.image_caption}}"/>
		{% endif %}
		</span>
		Client: {{post.client}}<br/>
		<span class="small">
			{{post.start}}{% if post.end %} to {{post.end}}{% endif %}
		</span>
		<p>
		    {{post.summary|striptags|truncate(300)|safe}}
		    <a class="small" href="{{site.urlRoot}}{{post.url}}">Read more...</a>
		</p>
		<p class="small">
			{% if post.tags %}Tags: {% endif %}
		    {% for tag in post.tags %}
		        <a href="{{site.urlRoot}}tag/{{tag}}.html">{{tag}}</a>{% if not loop.last %} / {% endif %}
		    {% endfor %}
		</p>
	</p>
</div>