---
title: About Us
subtitle: 
description: Information about who we are, and what we do
---

{% extends "base.j2" %}

{% block css %}
<link rel="import" href="{{ media_url('components/basic-slideshow/basic-slideshow.html') }}">
<link rel="import" href="{{ media_url('elements/slide-show/slide-show.html') }}">
{% endblock css %}

{% block slideshow %}
<h4>Maungawhau IT has been providing quality IT services since 2002.</h4>
<br/>
<slide-show>
    <img src="/media/images/yellow-homepage.png" />
    <img src="/media/images/stellarlibrary-home.png" />
    <img src="/media/images/wrappz.co.nz-images.png" />
    <img src="/media/images/nakedgym-home.png" />
    <img src="/media/images/ferrit-search-ipods.png" />
    <img src="/media/images/createaposter.com.au-bartel-other.png" />
</slide-show>
<br/>
{% endblock %}

{% block scripts %}
<script>
  document.querySelector('basic-slideshow').start;
</script>
{% endblock scripts %}

{% block main %}
#### Small is Beautiful ####

We are a small company, able to be both flexible and agile in development.

We also enjoy the smaller projects. Something that can be delivered in under a month, not several years.
Projects which can be easily summarised and understood - so our customer knows what is delivered, and we know what they expect.

Recently our projects have focused on websites and e-commerce, such as...

* creating the createaposter.com.au website
* extending the wrappz.co.nz website
* customising an open source package for an ISP
* extending the NakedGym website
* maintaining the Ferrit website

For clients including...

* Fujifilm NZ
* Telecom NZ
* TelstraClear
* Woosh Wireless


#### Tools of the Trade ####

Maungawhau IT specialises in all things Unix and Linux. 
This leads naturally to webservers, e-commerce, and all things Internet.

We use and recommend Ubuntu, Python, MySQL, and the Amazon Cloud. 
Optionally you may prefer Red Hat, Perl, PHP, or PostgreSQL. 
Pick one of Apache, Cherokee, or nginx.

{% endblock main %}

