{% macro project_info(client, start, end, class) %}
<div class="{{ class|default('project_info') }}">
    <h2>Client:</strong>&nbsp;{{ client }}</h2>
    <h3>{{ start }}{% if end %} to {{ end }}{% endif %}</h3>
</div>
<div class="clear"></div>
{% endmacro %}

{% macro render_excerpt(res, class=None) %}
<br/>
<article {{'class='~class if class }}>
<h1><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h1>
<a href="{{ content_url(res.url) }}">{{ res.url.image }}</a>
{{ res.url.excerpt }}
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>
</article>
{% endmacro %}

{% macro render_nav(menu, cls=None) -%}
{%- endmacro %}
