{% set page.nav = page.tag %}
{% set page.title = page.tag %}
{% extends "base.html" %}

{% block content %}
<article>
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% if tag == page.tag %}
		{% include "include/post_snippet.html" %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% for post in site.projects %}
  {% for tag in post.tags %}
    {% if tag == page.tag %}
		{% include "include/project_snippet.html" %}
    {% endif %}
  {% endfor %}
{% endfor %}
</article>
{% endblock %}